version: "3.9"

services:
  # backend:
  #   build: ./backend
  #   container_name: backend
  #   restart: always
  #   env_file:
  #     - backend/.env
  #   expose:
  #     - "8000"

  backend:
    build:
      context: ./backend
    container_name: backend
    restart: always
    env_file:
    - backend/.env
    ports:
    - "8000:8000"


  frontend:
    build: ./frontend
    container_name: frontend
    restart: "no"
    volumes:
      - frontend-build:/app/dist

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - frontend-build:/usr/share/nginx/html
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend
      - frontend

volumes:
  frontend-build:
